/*=========== Button CSS ==========*/

.boxed-btn {
    background-color: #1ABC9C;
    padding: 6px 20px;
    font-weight: 600;
    font-size: 17px;
    border-radius: 50px;
    @extend %body-font;
    @extend %white-color;
    text-transform: capitalize;
    border: 0;
    &:hover {
        @extend %white-color;
        background-color: #D898A9;
    }
}

// .bordered-btn {
//     border: 2px solid #2A7D2E;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 16px;
//     background: transparent;
//     &:hover {
//         color: #154D32;
//     }
// }